body{
    background-color: #fff;
    color: #000;
}
.card{
    display: inline-block;
    border: 1px rgb(194, 194, 194) solid;
    border-radius: 4px;
    width: 23%;
    height: 72vh;
    margin: 1vh 0.6vw;
    overflow: hidden;
    transition: all 0.2s ease;
}
/* .card:hover{
    box-shadow: 5px 5px 5px rgb(206, 206, 206);
} */
.card .img{
    width: 100%;
}
.card .title{
    padding: 10px 10px;
}
.card .description{
    padding: 15px 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}
section{
    margin: 10px 20px;
}