body{
    background-color: #fff;
    color: #000;
}
        .navbar{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: #ffffff;
            padding: 20px 0;
        }
        li{list-style: none;
        display: inline-block;
        }
        .nav-link{
            color: rgb(34, 34, 34);
            background: #e4060600;
            margin: 10px 5px;
            padding: 15px 25px;
            text-decoration: none;
        }
        .nav-link:hover{
            color: #fff;
            background: #4285f4;
            transition: all 0.1s ease;
        }
.float-left{
    float: left;
    width: 40%;
    text-align: justify;
    line-height: 23px;
}
.float-right{
    float: right;
    width: 57%;
    text-align: justify;
    line-height: 29px;
}
.card{
    display: inline-block;
    border: 0px rgb(255, 255, 255) solid;
    border-radius: 28px;
    width: 23%;
    height: 500px;
    margin: 1vh 0.6vw;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(206, 206, 206);
    transition: all 0.2s ease;
}
.card:nth-child(2){
    color: #fff;
    background-color: #4285f4;
}
.card:nth-child(3){
    color: #fff;
    background-color: #ea4335;
}
.card:nth-child(4){
    color: #fff;
    background-color: #fbbc05;
}
.card:nth-child(5){
    color: #fff;
    background-color: #34a853;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgb(206, 206, 206);
}
.card:active{
    transform:scale(1.03);
}
.card .img{
    width: 100%;
}
.card .title{
    padding: 10px 10px;
}
.card .description{
    padding: 15px 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}
section{
    margin: 10px 20px;
    border: 0px #000 solid;
}
.box-container{
    display: block;
    margin: 10px;
    padding: 20px;
    height: 540px;
    border: 0px #000 solid;
    border-radius: 28px;
    color: #fff;
    background-color: #ea4335;
    box-shadow: 2px 2px 5px rgba(36, 36, 36, 0.568);
}
.box-container:nth-child(9){
    color: #fff;
    background-color: #fbbc05;
}
.img{
    width: 100%;
    border-radius: 28px;
}
.explore{
    border: 0px #000 solid;
    margin: 10px 20px;
    padding: 10px 20px;
}
.exp{
    color: #000;
    display: inline-block;
    margin: 19px 10px;
    width: fit-content;
    padding: 10px 20px;
    cursor: pointer;
}
.exp:hover{
    background-color: rgb(230, 230, 230);
}
