
        h1{
            color: #414141;
            font-family: 'Raleway', sans-serif;
        text-shadow: 0 0 10px rgba(255, 0, 0, 0);
        /* font-style: italic; */
        padding: 10px 20px;
        border-bottom: 2px rgb(214, 214, 214) solid;
        font-size: 40px;
    }
    .section-title{
            font-family: 'Arimo', sans-serif;
    }
    .know-more{
        float: right;
        font-size: 12px;
        font-style: italic;
        text-decoration: none;
        padding: 10px 20px;
        background-color: #e0e0e000;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    }
    .know-more:hover{
        background-color: #d1d1d100;
        text-decoration: underline;
        transition: 0.1s;
    }
    .ic-icon{
        margin-left: 5px;
        opacity: 1;}
    .know-more:hover .ic-icon{
        opacity: 1;
    }
        .mini-container{
            margin: 10px 20px;
            border-radius: 6px;
            background: #f0f0f0e0;
            border: 2px #f0f0f0 solid;
        }
        .mini-container .img{
            width: 30%;
            padding: 20px;
            border-radius: 36px;
        }
        .first-sub-cont{
            color: #414141;
            float: right;
            width: 66%;
            padding: 10px 0px;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
            border: 2px rgba(170, 170, 170, 0) solid;
        }
        .first-sub-cont h2{
            font-size: 18px;
        }
        .first-sub-cont .details{
            color: #4b4b4b;
            font-family: 'Arimo', sans-serif;
            line-height: 30px;
            font-size: 14px;
        }
        .second-container{
            margin: 10px 20px;
            padding: 0px;
            border: 2px rgba(0, 0, 0, 0) solid;
        }
        .gr-card{
            display: inline-block;
            align-items: center;
            margin: 10px 12px;
            width: 31%;
            background-color: #f0f0f0e0;
            border: 0px #86868642 solid;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
            border-radius: 6px;
            font-family: 'Arimo', sans-serif;
            overflow: hidden;
            transition: 0.5s ease;
        }
        /* .gr-card:hover{
            transform: translateY(-10px);
            border: 0px #55555542 solid;
            box-shadow: 5px 5px 10px #0000003d;
            border-radius: 0px;
            transition: 0.2s ease;
        } */
        .gr-img{
            width: 100%;
        }
        .gr-details{
            display: block;
            padding: 0px 20px;
        }
        .gr-details h4{color: #252525;}
        .sh-detail-primary{
            color: #4b4b4b;
            text-overflow: ellipsis;
            height: 56vh;
            line-height: 25px;
        }
        .sh-detail-secondary{
            color: #4b4b4b;
            text-overflow: ellipsis;
            height: 14vh;
            line-height: 25px;
        }

@media screen and (max-width: 768px) {
        h1{
            color: #414141;
            font-family: 'Raleway', sans-serif;
        text-shadow: 0 0 10px rgba(255, 0, 0, 0);
        /* font-style: italic; */
        padding: 10px 20px;
        border-bottom: 2px rgb(214, 214, 214) solid;
        font-size: 30px;
    }
        .mini-container{
            margin: 10px 20px;
            border-radius: 20px;
            background: #eeeeee00;
            border: 2px #e4e4e400 solid;
        }
        .mini-container .img{
            width: 93%;
            padding: 10px;
            border-radius: 30px;
        }
        .first-sub-cont{
            color: #414141;
            float: right;
            width: 90%;
            padding: 10px 0px;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
            border: 2px rgba(170, 170, 170, 0) solid;
        }
        .first-sub-cont h2{
            font-size: 18px;
        }
        .first-sub-cont .details{
            color: #4b4b4b;
            font-family: 'Arimo', sans-serif;
            line-height: 30px;
            font-size: 14px;
        }
        .second-container{
            margin: 10px 0px;
            padding: 20px;
            border: 2px rgba(0, 0, 0, 0) solid;
        }
        .gr-card{
            display: inline-block;
            align-items: center;
            margin: 10px 0px;
            width: 100%;
            background-color: #f5f5f500;
            border: 2px #e4e4e4 solid;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.26);
            border-radius: 20px;
            font-family: 'Arimo', sans-serif;
            overflow: hidden;
            transition: 0.5s ease;
        }
        .gr-card:hover{
            transform: translateY(-10px);
            background-color: #f5f5f5;
            width: 100%;
            border: 0px #00000042 solid;
            box-shadow: 5px 5px 10px #00000042;
            transition: 0.2s ease;
        }
        .gr-img{
            width: 100%;
        }
        .gr-details{
            display: block;
            padding: 20px;
        }
    }